.CodeMirror{

  &.cm-s-vmarkdown{
    height: 100%;
  }

  .CodeMirror-vscrollbar{
    outline: none;
  }

  .CodeMirror-overlayscroll-horizontal div,
  .CodeMirror-overlayscroll-vertical div {
    background: #bcd;
  }

  .CodeMirror-lines {
    padding-top: 24px;
  }

}



